@model EmotionWeb.Models.EmoPicture

@{
    ViewBag.Title = "Details";
    var ruta = Model.Path;
}

<h2>Details</h2>

<div>
    <h4>EmoPicture</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayName("Imagen")
        </dt>

        <dd>
            <img src="~/@Url.Content(Model.Path)" alt="Image" style="width:300px;height:300px;" />
        </dd>
       
    </dl>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
